<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/sofiahuevo/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="sofiahuevo" />
            <add key="ClearTextPassword" value="cb3b239c48005f2a1e8ea6df620120596d14fd19" />
        </github>
    </packageSourceCredentials>
</configuration>
